#Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

#Virtual Environment (Very Important!)
venv/
env/
.env

# VS Code settings
.vscode/

#Project specific
vscode_extension/out/
vscode_extension/node_modules/
*.vsix
.DS_Store

#Logs
*.log